.calendarBody {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-bottom: 80px;
}

.calendar {
  height: 100%;
  width: 100%;
  color: #2b2b2b;
}

.calendarCard {
  height: 100%;
  width: 100%;
  max-width: 1400px;
  margin-top: 160px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
}

.calendarTitle {
  margin-bottom: 40px;
  color: #2b2b2b;
  font-weight: bold;
}

@media (max-width: 767px) {
  html,
  body {
    height: auto;
  }

  .calendarCard {
    height: 100%;
    width: 100%;
    max-width: 1400px;
    margin-top: 60px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 60px;
  }  
}
