ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.coach {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.coachTitle {
  color: white;
}

.chatLogContainer {
  padding: 24px;
  padding-bottom: 5rem;
  margin-top: 100px;
  margin-bottom: 50px;
  overflow-y: auto;
  color: white;
}

.chatMessageContainer {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.userAvatar {
  background-color: white;
  width: 40px;
  height: 40px;
}

.gptAvatar {
  background-color: rgb(4, 246, 61);
  width: 40px;
  height: 40px;
}

.message {
  padding: 0 30px;

}

.textInputContainer {
  background-color: #d4d4d4;
  padding: 12px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.textInput {
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 1.25rem;
  padding: 12px;
  margin: 0;
}

