.dietContainer {
  padding: 30px;
}

.container-fluid {
  /* Sets dropdown of navbar to be same colour as actual navbar */
  background-color: inherit;
}

.dietCard {
  width: 100%;
  border-radius: 10px;
  background-color: #2b2b2b;
  color: white;
  top: 10rem;
}

.dietBtn {
  background-color: hsl(183.87deg 60.78% 40%);
  color: white;
  border: none;
  margin: 5px;
}

.dietBtn:hover {
  background-color: hsl(184, 61%, 60%);
  border: none;
  outline: none;
  color: black;
}

.dietBtn:active,
.dietBtn:focus {
  background-color: hsl(184, 61%, 70%);
  box-shadow: 0px 0px 3px 3px hsl(184, 57%, 28%);
}

.mealCard{
    margin: 10px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 30%);
    color: white;
    top: 10rem;
}

.dietBtn:disabled {
  background-color: #95a4a9;
  color: black;
}

.loading {
  display: flex;
  align-items: center;
}

.loading p {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}

.title {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  color: black;
}

.date {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  z-index: 1;
  margin: 10px 0;
}

.day {
  min-height: 400px;
  margin-top: 30px;
  border-radius: 10px;
  display: flex;
  position: relative;
}

.day div {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modalImage {
  height: 500px;
  width: 500px;
}

@media (max-width: 767px) {
  html,
  body {
    height: 100%;
  }

  .dietContainer {
    padding: 0;
    margin-top: 80px;
  }

  .dietCard {
    top: 1rem;
  }
  
  .mealCard {
    /* margin: 0; */
  }

  .day,
  .day > strong,
  .day div {
    display: block;
    
  }

  .day div {
    padding: 10px;
    width: auto;
  }
  .day {
    margin-top: 40px;
  }

  .date {
    top: -35px;
  }
}
