.dietContainer {
  height: 100%;
  max-width: 1000px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 160px;
}

.container-fluid {
  /* Sets dropdown of navbar to be same colour as actual navbar */
  background-color: inherit;
}

.mealCard {
  margin: 20px 0px;
  border-radius: 10px;
  padding: 0px;
  background-color: #2b2b2b;
  color: white;
}

.dietCard {
  width: 1300px;
  margin-top: 160px;
  margin-bottom: 50px;
  border-radius: 10px;
  background-color: #2b2b2b;
  color: white;
}

.dietCardBody {
  padding: 0 50px;
}

.title {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  color: white;
}

@media (max-width: 767px) {
  html,
  body {
    height: auto;
    margin-bottom: 80px;
  }

  .dietCard {
    width: 1300px;
    margin-bottom: 50px;
    border-radius: 10px;
  }
  
  .dietContainer {
    height: 100%;
    max-width: 1000px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 80px;
  }
}
