html,
body {
  height: 100%;
  margin: 0;
  overflow: scroll;
}

h1 {
  color: black;
}

p {
  color: black;
}

.dietContainer {
  position: relative;
  padding-top: 160px;
  height: 100%;
  max-width: 1000px;
  border-radius: 10px;
  margin-bottom: 80px;
}

.container-fluid {
  /* Sets dropdown of navbar to be same colour as actual navbar */
  background-color: inherit;
}

.mealCard {
  padding: 0 10%;
  border-radius: 10px;
}
