html,
body {
  height: 100%;
  margin: 0;
  overflow: scroll;
}

.dietContainer {
  position: relative;
  height: 100%;
  max-width: 1800px;
  border-radius: 10px;
  margin-bottom: 80px;
}

.container-fluid {
  /* Sets dropdown of navbar to be same colour as actual navbar */
  background-color: inherit;
}

.mealCard {
  margin: 20px 0px ;
  border-radius: 10px;
  padding: 0px;
  /* min-width: 120px; */
}

.dietCard{
  width: 1300px;
}
.diet-card-body {
  padding: 0 50px;
  /* width: 1200px; */
}
