.fitnessContainer {
  height: 100%;
  border-radius: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 160px;

  background-color: #2b2b2b;
  color: white;

  margin-left: 80px;
  margin-right: 80px;
  position: relative;
  padding: 1rem 1rem;
}

.mainTitle {
  position: absolute;
  top: -175px;
  left: 0;
  right: 0;
}

.container-fluid {
  /* Sets dropdown of navbar to be same colour as actual navbar */
  background-color: inherit;
}
.workoutPlanContainer {
  width: 100%;
  margin-top: 200px;
  position: relative;
}
.title {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  color: black;
}

.date {
  position: absolute;
  top: -35px;
  left: 0;
  width: 100%;
  z-index: 1;
  margin: 10px 0;
}
.day {
  min-height: 400px;
  margin-top: 136px;
  border-radius: 10px;
  display: flex;
  position: relative;
}
.day div {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.anExercise {
  margin: 10px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 30%);
  color: white;
  top: 10rem;
}

.aKey {
  /* border: 2px dashed green ;
  border-radius: 10px; */
}

.streakContainer {
  display: flex;
  right: 157px;
  top: 77px;
  position: absolute;
}
.streakContainer > p {
  display: none;

}

.doneTodaySymbol {
  width: 50px;
  height: 50px;
}

.graph {
  display: flex;
  align-items: center;
  margin: none;
  padding: none;
  height: 100px;
}
.graphs {
  /* display: flex; */
}

.workoutForm {
  border-radius: 10px;
  position: absolute;
  top: 36px;
  left: 68px;
  /* display: none; */
  z-index: 1;
}

.newPlan {
  position: absolute;
  top: 83px;
}

.exerciseButtons {
  display: flex;
  justify-content: center;
}
.test:checked{
  background-color: hsl(184, 61%, 70%);
  box-shadow: 0px 0px 3px 3px hsl(184, 57%, 28%);
}

.exerciseButtons,
.markButton,
.workoutForm label {
  background-color: hsl(183.87deg 60.78% 40%);
  color: white;
  border: none;
  margin: 5px;
}

.exerciseButtons:hover,
.markButton:hover,
.workoutForm label:hover {
  background-color: hsl(184, 61%, 60%);
  border: none;
  outline: none;
  color: black;
}

.exerciseButtons:active,
.exerciseButtons:focus,
.markButton:active,
.markButton:focus,
.workoutForm label:active,
.workoutForm label:focus {
  background-color: hsl(184, 61%, 70%);
  box-shadow: 0px 0px 3px 3px hsl(184, 57%, 28%);
}
.exerciseButtons:disabled,
.markButton:disabled,
.workoutForm label:disabled {
  background-color: #95a4a9;
  color: black;
}
.PrevNext {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
}
.helpButtonsContainer {
  display: flex;
  padding-bottom: 0 !important;
}
.hiddenButton {
  margin: auto;
}

.checkbox {
  display: flex;
  flex-direction: row !important;
}
.markButton {
  margin-bottom: 20px;
}

.modalImage {
  height: 500px;
  width: 500px;
}

.hidden {
  display: none;
}

.loading {
  display: flex;
  align-items: center;
}

.loading p {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}

@media (max-width: 767px) {
  html,
  body {
    height: 100%;
  }

  .fitnessContainer {
    padding: 0;
    margin-top: 80px;
    margin-left: 0;
    margin-right: 0;
  }

  .dietCard {
    top: 1rem;
  }

  .day,
  .day > strong,
  .day div {
    display: block;
  }

  .day div {
    padding: 10px;
    width: auto;
  }
  .day {
    margin-top: 40px;
    flex-direction: column;
  }

  .date {
    top: -35px;
  }

  .helpButtonsContainer {
    display: flex;
    justify-content: center !important;
  }
}
