.fitnessContainer {
  height: 100%;
  max-width: 1000px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 140px;
}

.container-fluid {
  /* Sets dropdown of navbar to be same colour as actual navbar */
  background-color: inherit;
}

.exerciseCard {
  margin: 20px 0px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.fitnessCardBody {
  padding: 0 50px;
}

.title {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  color: black;
}

.day {
  border: 2px solid black ;
  border-radius: 10px;
}