.cardWrapper {
  height: 100%;
  border-radius: 10px;
  max-width: 1000px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 160px;
}

.homeCard {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 40px;
  background-color: #2b2b2b;
}

.homeHeader {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.progressHeader {
  text-align: center;
  color: white;
  margin-top: 20px;
}

.progressCard {
  width: 100%;
  border-radius: 10px;
  text-align: center;
  background-color: #2b2b2b;
  margin-bottom: 30px;
}

.progressBar {
  width: 100%;
}

.progressBtn {
  margin-top: 30px;
}

@media (max-width: 767px) {
  html,
  body {
    height: auto;
    margin-bottom: 80px;
  }
  
  .cardWrapper {
    height: 100%;
    border-radius: 10px;
    max-width: 1000px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 80px;
  }
}
