.cardWrapper {
  height: 100%;
  max-width: 1000px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 160px;
}

.homeCard {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  background-color: #d4d4d4;
}

.progressHeader {
  text-align: center;
  color: white;
}

.progressCard {
  width: 100%;
  max-height: 240px;
  border-radius: 10px;
  text-align: center;
}

.progressBar {
  width: 100%;
  margin-top: 40px;
}

.step {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  color: white;
  font-size: 0.8rem;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  margin-right: 5px;
}

.step.completed {
  background-color: #f0bb31;
  color: white;
}

.title {
  text-align: center;
  color: black;
}
