.cardWrapper {
  height: 100%;
  border-radius: 10px;
  max-width: 1000px;
  margin: auto;
  margin-top: 160px;
}

.challengeCard {
  border-radius: 10px;
  text-align: center;
  background-color: #2b2b2b;
  margin-bottom: 30px;
}

.challengeInnerCard {
  border-radius: 10px;
  text-align: center;
  background-color: hsl(0, 0%, 30%);
  padding: 20px 0;
  margin: 20px 6px;
}

.challengeHeader {
  text-align: center;
  margin-bottom: 16px;
  color: rgb(92, 208, 216);
}

.challengeBtn {
  margin-top: 4px;
  margin-bottom: 10px;
  background-color: hsl(184, 61%, 40%);
  border: none;
}

.challengeBtn:hover {
  background-color: hsl(184, 61%, 60%);
  border: none;
  outline: none;
  color: black;
}

.challengeBtn:active,
.challengeBtn:focus {
  background-color: hsl(184, 61%, 70%);
  box-shadow: 0px 0px 3px 3px hsl(184, 57%, 28%);
}

.challengeBtn:disabled {
  background-color: #95a4a9;
  color: black;
}

.pointsBalance {
  margin-top: 24px;
  color: rgb(92, 208, 216);
}

.noChallenge {
  color: white;
}
.homeCard {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 30px;
  background-color: #2b2b2b;
}

.homeHeader {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.username {
  color: rgb(92, 208, 216);
}

.fitness {
  margin-right: 0 !important;
}

.diet {
  margin-left: 0 !important;
}

.progressHeader {
  text-align: center;
  color: rgb(92, 208, 216);
}

.progressCard {
  border-radius: 10px;
  text-align: center;
  background-color: #2b2b2b;
  margin-bottom: 30px;
}

.progressInnerCard {
  border-radius: 10px;
  text-align: center;
  background-color: hsl(0, 0%, 30%);
  padding: 20px 0;
  margin: 20px 6px;
}

.progressBarContainer {
  margin: 0 75px;
  margin-top: 20px;
}

.progressBtn {
  margin-top: 22px;
  background-color: hsl(184, 61%, 40%);
  border: none;
}

.progressBtn:hover {
  background-color: hsl(184, 61%, 60%);
  border: none;
  outline: none;
  color: black;
}

.progressBtn:active,
.progressBtn:focus {
  background-color: hsl(184, 61%, 70%);
  box-shadow: 0px 0px 3px 3px hsl(184, 57%, 28%);
}

.exerciseDate {
  font-size: 19pt;
  color: rgb(92, 208, 216);
}

.draggableList {
  padding: 30px 0;
}

.draggableList li {
  border-radius: 10px;
  margin: 30px 70px;
  padding: 15px 18px;
  position: relative;
  background: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  cursor: grab;
}

@media (max-width: 767px) {
  html,
  body {
    height: auto;
  }

  .cardWrapper {
    height: 100%;
    border-radius: 10px;
    max-width: 1000px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
  }
}
