.indexBody {
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url("../img/abstract.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  overflow: hidden;
}

.indexBtn {
  margin: 4px 12px 36px 12px;
  background-color: #2b2b2b;
  border-color: #2b2b2b;
}

.indexBtn:hover {
  background-color: #95a4a9;
}

.indexCard {
  width: 100%;
  margin-top: 100px;
}

.indexImage {
  height: 100%;
  object-fit: cover;
}
.imageContainer {
  height: 100%;
  width: 100%;

  z-index: -2;

  right: -200px;
  bottom: -44px;
  position: absolute;
}

.indexTitle {
  margin-top: 60px;
  margin-bottom: 60px;
  font-weight: bold;
}

.indexBody h1 {
  color: rgb(255, 255, 255);
  max-width: 1000px;
  font-size: 4rem;
  text-align: left;
}

.indexBody h4 {
  color: white;
  max-width: 1000px;
  margin-top: 60px;
  font-weight: bold;
  text-align: left;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
h4 + div {
  text-align: left;
}

@media (max-width: 767px) {
  html,
  body {
    height: auto;
  }

  .indexImage {
    height: 100%;
    width: 100%;
  }

  .imageContainer {

    right: -12px;
    bottom: 0;

    display: none;
    position: relative;
  }


  
.indexBody h1 {
  text-align: center;
}

.indexBody h4 {
  text-align: center;
}
h4 + div {
  text-align: center;
}

}
