html,
body {
  height: 100%;
  margin: 0;
}

.btn {
  margin: 0px 12px 0px 12px;
}

.button-group {
  margin-top: 80px;
}

.index-body {
  height: 100%;
  min-height: 100vh;
  background-color: black;
}

.index-body h1 {
  color: black;
  max-width: 1000px;
  font-size: 4em;
  text-align: center;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #39ff14,
    0 0 70px #39ff14, 0 0 80px #39ff14, 0 0 100px #39ff14, 0 0 150px #39ff14;
}

.index-body h4 {
  color: white;
  max-width: 1000px;
  margin-top: 80px;
}

.index-card {
  margin-top: 120px;
}
