@import url("https://fonts.googleapis.com/css2?family=ProximaNova:wght@400;700&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  font-family: ProximaNova, Arial, sans-serif;
}

.button-group {
  margin-top: 40px;
}

.indexBody {
  height: 100%;
  width: 100%;
}

.indexBtn {
  margin: 0px 12px 36px 12px;
  background-color: #154b54;
  border-color: #154b54;
}

.indexBtn:hover {
  background-color: #95a4a9;
}

.indexCard {
  margin-top: 120px;
}

.indexImage {
  height: 500px;
  width: 750px;
}

.indexTitle {
  margin-bottom: 60px;
}

.indexBody h1 {
  color: black;
  max-width: 1000px;
  font-size: 4em;
  text-align: center;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #154b54,
    0 0 70px #154b54, 0 0 80px #154b54, 0 0 100px #154b54, 0 0 150px #154b54;
}

.indexBody h4 {
  color: white;
  max-width: 1000px;
  margin-top: 60px;
}
