tr {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th {
  background-color: #d4d4d4;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 12px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 10px;
  text-align: center;
}

td img {
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
  background-color: white;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.cardWrapper {
  height: 100%;
  max-width: 1000px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 160px;
}

.ranksCard {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  background-color: #2b2b2b;
}

.ranksHeader {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  color: white;
}
