
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 12px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

tr {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th {
  color: black;
  padding: 10px;
  text-align: center;
  background-color: #d4d4d4;
}

td {
  color: rgb(92, 208, 216);
  padding: 10px;
  text-align: center;
}

td img {
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
  background-color: white;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.cardWrapper {
  height: 100%;
  max-width: 1000px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 160px;
}

.ranksCard {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  background-color: #2b2b2b;
}

.ranksHeader {
  color: rgb(92, 208, 216);
  text-align: center;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  margin: 0px 10px;
  background-color: #e9e9e9;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button.active {
  background-color: #333;
  color: #fff;
}

.tabs {
  display: flex;
  justify-content: center;
  margin: 10px 10px 16px 10px;
}

@media (max-width: 767px) {
  html,
  body {
    height: auto;
    margin-bottom: 80px;
  }

  .cardWrapper {
    height: 100%;
    max-width: 1000px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 80px;
  }
}
