.loginBody {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-image: url("../img/abstract.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
}

#login {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 40px 40px 40px;
}

#login > input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.errorMessage{
  color: red;
}
#loginHeader {
  color: white;
  margin-top: 30px;
  font-size: 30pt;
  font-weight: bold;
}

.loginCard {
  max-width: 600px;
  border-radius: 10px;
  text-align: center;
}

.loginBtn {
  padding-top: 20px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.685);
  border: none;
  border-radius: 10px;
  transition: 0.2s;
  width: 300px;
  justify-content: center;
  background-color: rgb(92, 208, 216);
  margin-top: 24px;
}

.loginBtn:hover {
  background-color: hsl(184, 62%, 73%);
}

.signupRedirect {
  color: white;
}

.signupLink {
  text-decoration: none;
  color: rgb(69, 182, 148);
  transition: 0.3s;
}

.signupLink:hover {
 color:rgb(144, 213, 192);
}

.userInput {
  border: 2px solid #c0c0c0;
  width: 300px;
  border-radius: 10px;
  margin-top: 30px;
  transition: 0.3s;
}

.userInput:focus {
  outline: solid rgb(129, 126, 126) 2px;
}

.inputName{
  color: gray;
  position: relative;
  bottom: 35px;
  right: 100px;
  transition: all 0.3s ease;
  display: inline-block;
}

.inputLabel{
  height: 0;
}

.userInput:focus + .inputLabel .inputName,
.userInput:valid + .inputLabel .inputName {
  transform: translateY(-165%);
  font-size: 15px;
  right: 110px;
  color: rgb(92, 208, 216);
  outline: none;
}

@media (max-width: 767px) {
  html,
  body {
    height: auto;
  }
}
