.login {
  padding: 40px;
}

.login > input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.userInput {
  border: none;
  border-bottom: solid 1px black;
  width: 100%;
}

.loginContainer {
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-self: center;
  justify-content: center;
}

.loginContainer > p {
  padding-top: 20px;
}

.loginBtn {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.685);
  border: none;
  border-radius: 10px;
  transition: 0.2s;
  width: 60%;
  margin-top: 70px;
}

.loginCard {
  width: 600px;
  border-radius: 10px;
}
