#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

#login > input {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  padding: 10px;
}

.userInput {
  border: 2px solid #c0c0c0;
  width: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.userInput:focus {
  outline: solid rgb(129, 126, 126) 2px;
}

.loginContainer {
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-self: center;
  justify-content: center;
}

.loginContainer > p {
  padding-top: 20px;
}

.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  transition: 0.2s;
  width: 300px;
  background-color: rgb(92, 208, 216);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.685);
}

.loginBtn:hover {
  background-color: hsl(184, 62%, 73%);
}

.loginCard {
  width: 600px;
  border-radius: 10px;
}

.signupRedirect {
  color: black;
}

.signupLink {
  text-decoration: none;
  color: rgb(69, 182, 148);
}
