@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html,
body {
  /* height: 100%; */
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: black;
  overflow: auto;
}

h1,
h3,
h4,
h5,
label {
  color: white;
  text-align: center;
}

.card {
  height: 100%;
  display: flex;
  text-align: center;
  background-color: #d4d4d4;
}
