html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif !important;
  background-color: black;
}

h1, p {
  color: white;
}

.card {
  height: 100%;
  display: flex;
  width: 1000px;
  margin-top: 160px;
  background-color: #2b2b2b;
}

.container-fluid {
  /* Sets dropdown of navbar to be same colour as actual navbar */
  background-color: inherit;
}
