.btn {
  background-color: #5b809e;
}

.btn:hover {
  background-color: #78a7bd;
  border-color: #78a7bd;
}

.card {
  border-radius: 10px;
}

.img-profile {
  margin-top: 10px;
}

.profile-container {
  height: 100%;
  max-width: 1000px;
  padding-top: 160px;
  border-radius: 10px;
}

.profile-image {
  position: relative;
  width: 150px;
  height: 150px;
  margin-bottom: 12px;
  border-radius: 50%;
}

.profile-image img {
  display: block;
  width: 100%;
  height: auto;
}

.profile-image label {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.profile-image label:hover {
  background: #666666;
}

.profile-image input[type="file"] {
  display: none;
}
