.profileBody {
  height: 100%;
  width: 100%;
  margin: 0;
}

.editProfileButton {
  margin-top: 10px;
  margin-bottom: 16px;
  background-color: rgb(92, 208, 216);
  border-radius: rgb(92, 208, 216);
}

.editProfileButton:hover {
  color: black;
  background-color: hsl(184, 62%, 73%);
}

.errorMessage {
  color: red;
  font-size: 9pt;
}

.chatHeader {
  color: rgb(92, 208, 216);
  margin-top: 10px;
}

.chatMessages {
  color: white;
  margin-top: 10px;
}

.chatWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.formLabel {
  color: black;
}

.profileCard {
  height: 100%;
  width: 100%;
  max-width: 1400px;
  margin-top: 160px;
  border-radius: 10px;
  text-align: center;
  background-color: #2b2b2b;
  margin-bottom: 80px;
}

.profileHeader {
  color: rgb(92, 208, 216);
}

.profileItem {
  color: white;
}

.profileImage {
  position: relative;
  width: 150px;
  height: 150px;
  margin-bottom: 12px;
  border-radius: 50%;
}

.profileImage img {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-top: 10px;
}

.profileImage label {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.profileImage label:hover {
  background: #666666;
}

.profileImage input[type="file"] {
  display: none;
}

@media (max-width: 767px) {
  html,
  body {
    height: auto;
  }

  .profileCard {
    height: 100%;
    width: 100%;
    max-width: 1400px;
    margin-top: 80px;
    border-radius: 10px;
    text-align: center;
    background-color: #2b2b2b;
  }
}
