.profileBody {
  height: 100%;
  width: 100%;
  margin: 0;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.challengesHeader {
  color: rgb(92, 208, 216);
  background-color: #474747;
  margin-top: 6px;
  width: 100%;
  align-items: stretch;
  position: sticky;
  top: 0;
}

.challengesHeader > h1 {
  color: rgb(92, 208, 216);
  min-height: 48px;
  margin: 5px 0;
  padding-top: 2px;
}

.challengeItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challengeBtn {
  margin: 0px 6px 10px 0px;
  background-color: hsl(184, 61%, 40%);
  border: none;
}

.clearBtn {
  margin: 0px 0px 10px 6px;
  background-color: hsl(184, 61%, 40%);
  border: none;
}

.editProfileBtn {
  margin-top: 10px;
  margin-bottom: 16px;
  background-color: hsl(184, 61%, 40%);
  border: none;
}

.saveProfileBtn {
  background-color: hsl(184, 61%, 40%);
  border: none;
}

.challengeBtn:hover,
.clearBtn:hover,
.editProfileBtn:hover,
.saveProfileBtn:hover {
  background-color: hsl(184, 61%, 60%);
  border: none;
  outline: none;
  color: black;
}

.challengeBtn:active,
.challengeBtn:focus,
.clearBtn:active,
.clearBtn:focus,
.editProfileBtn:active,
.editProfileBtn:focus,
.saveProfileBtn:active,
.saveProfileBtn:focus {
  background-color: hsl(184, 61%, 70%);
  box-shadow: 0px 0px 3px 3px hsl(184, 57%, 28%);
}

.cardContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.challengeInnerCard {
  flex: 1;
  width: 90%;
  max-height: 350px;
  margin: 20px;
  border-radius: 10px;
  background-color: #474747;
  overflow: auto;
  position: relative;
}

.currentChallenges {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.challengeBackground {
  background-color: gray;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 90%;
  height: 80px;
  margin: 10px;
}

.challengeDesc {
  color: white;
  margin-top: 8px;
}

.challengePoints {
  color: white;
}

.friendsCard {
  flex: 1;
  min-height: 742px;
  width: 100%;
  max-width: 600px;
  margin-top: 160px;
  margin-right: 80px;
  margin-left: 40px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2b2b2b;
}

.friendsInnerCard {
  flex: 1;
  width: 90%;
  max-height: 350px;
  margin: 20px;
  border-radius: 10px;
  background-color: #474747;
  overflow: auto;
  position: relative;
}

.errorMessage {
  color: red;
  font-size: 9pt;
}

.friendsHeader {
  color: rgb(92, 208, 216);
  background-color: #474747;
  width: 100%;
  align-items: stretch;
  position: sticky;
  top: 0;
}

.friendsHeader > h1 {
  color: rgb(92, 208, 216);
  min-height: 48px;
  margin: 5px 0;
  padding-top: 2px;
}

.friends {
  color: white;
  margin-top: 10px;
  width: 90%;
  background-color: gray;
  border-radius: 10px;
}

.friendsList {
  margin-bottom: 20px;
}

.formLabel {
  color: black;
}

.icon {
  margin-left: 10px;
}

.infoLink {
  color: rgb(92, 208, 216);
  cursor: pointer;
  text-decoration: none;
  display: inline !important;
}

.infoLink:hover {
  color: hsl(184, 62%, 73%);
  cursor: pointer;
  text-decoration: none;
  display: inline !important;
}

.imgProfile {
  margin-top: 10px;
}

.modalBtn {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: hsl(184, 61%, 40%);
  border: none;
}

.modalBtn:hover {
  background-color: hsl(184, 61%, 60%);
  border: none;
  outline: none;
  color: black;
}

.modalBtn:active,
.modalBtn:focus {
  background-color: hsl(184, 61%, 70%);
  box-shadow: 0px 0px 3px 3px hsl(184, 57%, 28%);
}

.profileCard {
  flex: 1;
  width: 100%;
  max-width: 600px;
  margin-top: 160px;
  margin-left: 80px;
  margin-right: 40px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2b2b2b;
  transition: 0.2s;
}

.profileInnerCard {
  flex: 1;
  width: 90%;
  margin: 20px;
  border-radius: 10px;
  background-color: #474747;
}

.profileHeader {
  color: rgb(92, 208, 216);
}

.profileItem {
  color: white;
}

.profileImage {
  position: relative;
  width: 160px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 12px;
  border-radius: 50%;
  border: 5px solid #868686;
  transition: 0.2s;
}

.profileImage:hover {
  animation: profileBorder 6s infinite;
  /* transition: 0.2s; */
}

@keyframes profileBorder {
  0% {
    border-color: hsl(184, 61%, 60%);
    box-shadow: 0 0 0px 0px rgb(92, 208, 216);
  }
  14% {
    border-color: hsl(184, 61%, 70%);
    box-shadow: 0 0 2px 1px #5cd0d8;
  }
  28% {
    border-color: hsl(175, 55%, 80%);
    box-shadow: 0 0 4px 2px #5cd0d8;
  }
  42% {
    border-color: hsl(175, 55%, 90%);
    box-shadow: 0 0 8px 3px #5cd0d8;
  }
  56% {
    border-color: hsl(175, 55%, 80%);
    box-shadow: 0 0 12px 4px #5cd0d8;
  }
  70% {
    border-color: hsl(175, 55%, 70%);
    box-shadow: 0 0 8px 3px #5cd0d8;
  }
  84% {
    border-color: hsl(175, 55%, 60%);
    box-shadow: 0 0 4px 2px rgb(92, 208, 216);
  }
  100% {
    border-color: hsl(175, 55%, 50%);
    box-shadow: 0 0 2px 1px rgb(92, 208, 216);
  }
}

.profileImage img {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profileImage label {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.profileImage label:hover {
  background: #666666;
}

.profileImage input[type="file"] {
  display: none;
}

.userNameLink {
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: 0.1s;
}

.userNameLink:hover {
  color: rgb(92, 208, 216);
}

@media (max-width: 767px) {
  html,
  body {
    height: auto;
    margin-bottom: 40px;
  }

  .profileBody {
    height: 100%;
    width: 100%;
    margin-bottom: 40px;
  }

  .cardContainer {
    flex-direction: column;
    margin-top: 40px;
  }

  .challengeBackground {
    background-color: gray;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 90%;
    margin: 10px;
  }

  .challengeDesc,
  .challengePoints {
    color: white;
  }

  .profileCard,
  .friendsCard {
    margin: 20px 0;
  }
}
