h5, label {
  color: black;
}

.btn {
  background-color: green;
}

.btn:hover {
  background-color: green;
  border-color: green;
}

.card {
  border-radius: 10px;
}

.imgProfile {
  margin-top: 10px;
}

.profileContainer {
  height: 100%;
  max-width: 1000px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.profileImage {
  position: relative;
  width: 150px;
  height: 150px;
  margin-bottom: 12px;
  border-radius: 50%;
}

.profileImage img {
  display: block;
  width: 100%;
  height: auto;
}

.profileImage label {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.profileImage label:hover {
  background: #666666;
}

.profileImage input[type="file"] {
  display: none;
}

.subtitle {
  color: black;
}
