.remindersInput {
  margin-right: 28px;
}

.savedMessage {
  color: rgb(255, 255, 255);
  font-size: 18pt;
  margin-bottom: 5px;
  min-width: 400px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff,
    0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;
}

.settingsBtn {
  margin-top: 40px;
  margin-bottom: 12px;
  background-color: hsl(184, 61%, 40%);
  border: none;
  transition: 0.1s;
}

.settingsBtn:hover {
  background-color: hsl(184, 61%, 60%);
  border: none;
  outline: none;
  color: black;
}

.settingsBtn:active,
.settingsBtn:focus {
  background-color: hsl(184, 61%, 70%);
  box-shadow: 0px 0px 3px 3px hsl(184, 57%, 28%);
}

.settingsBtn:disabled {
  background-color: hsl(184, 62%, 77%);
}

.settingsCard {
  width: 800px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #2b2b2b;
}

.settingsContainer {
  height: 100%;
  padding-top: 160px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.settings h1 {
  margin-bottom: 5px;
}

.settings input {
  margin-left: 0px;
  border: none;
}

.settings input:checked {
  background-color: rgb(92, 208, 216);
}

.settings input:focus {
  border: none;
  box-shadow: 0 0 4px 4px hsl(184, 61%, 40%);
}

.settings label {
  font-size: 1.15rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settingsHeader {
  color: rgb(92, 208, 216);
}

.toggleDiv {
  text-align: left;
}

@media (max-width: 767px) {
  .settingsContainer {
    height: 100%;
    padding-top: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .settings label {
    font-size: 1.05rem;
    margin-bottom: 10px;
  }

  .settings input {
    margin: 10px;
  }
}
