.settingsBtn {
  margin-top: 12px;
  margin-bottom: 12px;
}

.settingsCard {
  width: 800px;
  border-radius: 10px;
  margin: 0 auto;
}

.settingsContainer {
  height: 100%;
  padding-top: 160px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.settings h1 {
  margin-bottom: 24px;
}

.settings input {
  margin-left: 16px;
}

.settings label {
  font-size: 1.15rem;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
