/* .signupBody {
  height: 100%;
  margin: 0;
  font-family: "Varela Round", sans-serif;
  background-image: url("../img/abstract.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

#signup {
  padding: 0 40px 40px 40px;
}

#signup > input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#signupHeader {
  margin-top: 30px;
  font-size: 30pt;
}

#signupLabel {
  font-size: 30pt;
}

#submitBtn {
  padding-top: 20px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.685);
  border: none;
  border-radius: 10px;
  transition: 0.2s;
  width: 100%;
  justify-content: center;
  background-color: rgb(92, 208, 216);
}

#submitBtn:hover {
  background-color: hsl(184, 62%, 73%);
}

.userInput {
  border: 2px solid #c0c0c0;
  width: 100%;
  justify-content: center;
  border-radius: 10px;
  /* transition: 0.2s; */
}

.userInput:focus {
  outline: solid rgb(129, 126, 126) 2px;
}

.signupContainer {
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-self: center;
  justify-content: center;
}

.signupCard {
  width: 600px;
  border-radius: 10px;
}

.loginRedirect {
  color: black;
}

.loginLink {
  text-decoration: none;
  color: rgb(69, 182, 148);
}

@media (max-width: 767px) {
  html,
  body {
    height: auto;
  }
}
