@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif!important;
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url("/img/atlas.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* This is from w3Schools
https://www.w3schools.com/howto/howto_css_div_full_height.asp
 */
.fullHeight {
  height: 100%;
}

img {
  height: 50px;
  width: auto;
}

#mainCon {
  display: flex;
  flex-direction: column-reverse;
  align-content: space-around;
  justify-content: space-between;
  
}

#hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  background: linear-gradient(transparent, #000000 75%);
}

.text {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  background-color: transparent;
}

#nextbtn {
  width: 200px;
  height: 50px;
  background-color: #ffffff;
  border-color: #ffffff;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  
  font-size: 1rem;
}

#link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#formContainer{
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align:center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow:3px 0px 10px 0px rgb(0, 0, 0); 
  padding: 20px;
  
}

#signup {
  padding: 0px 100px;
  
}

#signup > input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  
}
.user-input {
  border: none;
  border-bottom: solid 1px black;
}

#submit-btn{
  box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.685); 
  border: none;
  border-radius: 10px;
  transition: 0.2s;
}
#signupCon{
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items:center;
  text-align:center;
  justify-content: center;
  
}

