/* THESE ARE THE DEFAUL SETTINGS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');

html,body{
  height: 100%;
}



body {
  font-family: 'Roboto', sans-serif!important;
  margin: 0;
  padding: 0;
  
}

#mainCon{
  background-color: #46494C;
  padding: 40px;

  padding-bottom: 80px;


/* This is from stackoverflow
https://stackoverflow.com/questions/7527152/div-with-dynamic-min-height-based-on-browser-window-height
 */
  min-height: 100%;
  height: auto !important; 
  height: 100%;
  margin-bottom: -3em;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #b5b5b5;

}

#footer{  
 background-color: black;
 bottom: 0;
 width: 100%;
 position: sticky;



/* This is from stackoverflow
https://stackoverflow.com/questions/7527152/div-with-dynamic-min-height-based-on-browser-window-height
 */
 height: 3em;
}
/* END OF DEFAULT SETTINGS */
