/* THESE ARE THE DEFAUL SETTINGS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif!important;
  margin: 0;
  padding: 0;
  position: relative;
  
}

/* This is from w3Schools
https://www.w3schools.com/howto/howto_css_div_full_height.asp
 */
.fullHeight {
  height: 100%;
}

#mainCon{
    background-color: #46494C;
}
.nav-link {
  color: white;
}

.nav-link:hover {
  color: #b5b5b5;

}

#footer{  
 background-color: black;
 bottom: 0;
 width: 100%;
 position: absolute;

}
/* END OF DEFAULT SETTINGS */
