@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap");

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif !important;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: black;
}

img {
  height: 50px;
  width: auto;
}

#mainCon {
  display: flex;
  flex-direction: column-reverse;
  align-content: space-around;
  justify-content: space-between;
}

.container {
  position: relative;
  margin-top: 160px;
  max-width: 1000px;
  border-radius: 10px;
}

